#map-container {
  position: absolute;
  inset: 0;

  .Point {
    border: 2px solid #fff;
    border-radius: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 2px;
    }
  }

  .defaultPoint {
    background-color: #000;
  }

  .baseStationPoint {
    background-color: #faad14;
  }

  .sensorPoint {
    background-color: #2196F3;
  }

  .hydrologyPoint {
    background-color: #52c41a;
  }

  .videoPoint {
    background-color: #2f54eb;
  }

  path.oneway {
    stroke-width: 3;
  }
  
}
